.login-box {
    width: 350px;
    margin: 0 auto;
    padding: 4em 0;

    h1 {
        margin: 2em 0 1em 0;
        font-size: 24px;
        text-align: center;
        color: #444;
        letter-spacing: -1px;
        font-weight: 600;
    }

    .inner-box {
        padding: 1em;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;

        input {
            background-color: #fafafa;
        }
    }
}